/* 清除默认样式 */
* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

li {
  list-style: none;
  cursor: pointer;
}

/* 颜色 */
.color0 {
  background-color: #555555;
}

.color1 {
  background-color: #fa5a5a;
}

.color2 {
  background-color: #ffcb4f;
}

.color3 {
  background-color: #00be70;
}

.color4 {
  background-color: #295ea4;
}
